.oops {
    margin-top: -33.5vh;
    font-family: Lato, sans-serif;
}

.oops-heading {
    color: #f0f0f0;
    padding-bottom: 100px;
}

.oops-heading h1 {
    font-size: 150px;
    font-weight: bold;
}

.oops-heading h3 {
    font-size: 50px;
    color: #CCCCCC;
}

.oops p {
    font-size: 24px;
}

.oops a {
    display: block;
    color: #333333;
    font-size: 22px;
}

.btn-rect {
    width: 250px;
    margin-top: 50px;
}